//color
// $white:

$blue: #1fc8ec;
$orange: #f29c2c;
$red: #ec1c11;
$green: #35c565;
$yellow: #f4dc11;
$google: #4285f4;
$border-color: #e5e5e5;
$brand-primary: $blue;
$brand-info: $yellow;
$brand-warning: $orange;
$brand-danger: $red;
$brand-success: $green;
$black:black;
$body-color-font: #505050;
$white: #fff !default;
$grey-color:#777777;

//font variable
